<div class="article-index-cover" style="top: <%= top %>px; left: <%= left %>px; width: <%= width %>px; padding: <%= padding %>px;">
  <a class="article-index-cover-img-link" href="#/article/<%= id %>">
    <img class="article-index-cover-img" style="height: <%= picHeight %>px; width: <%= picWidth %>px;" src="<%= picUrl %>">
  </a>
  <div class="article_information" style="margin: 0; padding: 0;">
    <div style="word-break: break-all; word-wrap: break-word;"><strong><%= title %></strong></div>
    <div><em><%= author %> <%= category %></em></div>
  </div>
</div>