<div class="article-index-cover" style="top: <%= hCoordinate %>px; left: <%= vCoordinate %>px; width: <%= width %>px; padding: <%= padding %>px;">
  <a class="article-index-cover-img-link" href="#/article/<%= articleId %>">
    <img class="article-index-cover-img" style="height: <%= coverPictureHeight %>px;" src="<%= coverPictureUrl %>">
  </a>
  <div class="article_information" style="margin: 0; padding: 0;">
    <div style="word-break: break-all; word-wrap: break-word;"><strong><%= articleTitle %></strong></div>
    <div><em><%= articleAuthor %> <%= articleCategory %></em></div>
  </div>
</div>