<div class="article-draft-list">
<% _.each(allDrafts, function(draft) { %>
  <div class="article-draft">
    <% var title = draft.get("title") %>
    <% var id = draft.get("id") %>
    <div><big><%= title.length === 0 ? "< no title >" : "<strong>" + title + "</strong>" %></big></div>
    <div><p class="text-align-right"><i><%= GlobalFormater.LocalDate.Chinese(draft.get("created_at") * 1000) %></i></p></div>
    <div class="row"><img src="<%= getPictureUrl(draft) %>" class="left"><%= getText(draft) %></div>
    <div><p class="text-align-right"><big><a class="article-draft-edit" href="#/article/<%= id %>/edit">edit</a><a href="#" class="article-draft-delete" data-article-id="<%= id %>">delete</a></big></p></div>
  </div>
<% }); %>
</div>