<div id="article-publish">
<div class="one-central-column-container">
  <div class="central-column">
<% if (coverPictureId !== -1 || contentPictures.length > 0) { %>
  <div id="choose_cover_picture_container">
    <h3>Choose a picture in the article as a cover picture:</h3>
    <% if (coverPictureId !== -1) { %>
      <p>Current cover picture:</p>
      <img src="<%= coverPictureUrl %>" class="article-publish-thumb-picture" data-picture-id="<%= coverPictureId %>" data-imported="<%= coverPictureImported %>" style="margin-bottom: 1em; border:0px none;" />
    <% } %>
    <p>All pictures used by the article:</p>
    <% _.each(contentPictures, function(picture) { %>
      <img src="<%= picture.url %>" class="article-publish-thumb-picture" data-picture-id="<%= picture.id %>" data-imported="no" style="margin-bottom: 1em; border:0px none;" />
    <% }); %>
  </div>
  
  <div><h2>OR</h2></div>
<% } %>

<div id="upload_cover_picture_container">
  <h3>Upload a new picture as a cover picture:</h3>
  <div class="row" id="upload_preview">
  <span class="inline-block col-xs-8 padding-s-lr"><input type="file" id="new_cover_picture" /></span>
  <span class="inline-block col-xs-4 padding-s-lr"><input id="upload_picture_button" class="button" type="button"  value="upload" /></span>
  </div>
</div>

<br /><br />

<div clsss="row">
  <span class="inline-block col-xs-4 padding-s-lr"><input id="confirm_button" class="button" type="button" value="confirm" /></span>
  <span class="inline-block col-xs-4 padding-s-lr"><input id="cancel_button" class="button" type="button"  value="cancel" /></span>
  <span class="inline-block col-xs-4 padding-s-lr"><input id="skip_button" class="button" type="button" value="skip (not recommend)"/></span>
</div>
</div>
</div>
</div>