<% if (!preview) { %>
  <div id="popup_container" class="popup_box"></div>
    
  <div id="article_content_container">
    <a href="#">All Article</a><br />
    <br />
    <img src="<%= article.get("cover_picture_url") %>" title="Cover Picture" /><br />
    <a href="#/article/<%= article.get("id") %>/edit">edit</a>
    <a href="#" class="Delete_Article" data-article-id="<%= article.get("id") %>">delete</a><br />
<% } else { %>
  <div id="article_content_container">
<% } %>
  <h3><%= article.get("title") %></h3>
  <strong>author: <%= article.get("author") %></strong><br />
  <em>category: <%= article.get("category_name") %></em><br />
  <%= contentJsonToHtml(article.get("content")) %>
</div>


<% if (!preview) { %>
  <br /><br />
  <div id="article_comments_container"></div>
<% } %>