<% if (preview) { %>
  <div id="article-show-preview">
<% } else { %>
  <div id="popup_container" class="popup_box"></div>

  <div>
    <a href="#">All Article</a><br>
    <a href="#/article/<%= article.get("id") %>/edit">edit</a>
    <a href="#" class="Delete_Article" data-article-id="<%= article.get("id") %>">delete</a><br>
  </div>

  <div id="article-show">
<% } %>

  <h1 class="article-show-title"><%= article.get("title") %></h1>
  <div class="row article-show-info">
    <div class="left article-show-date"><%= GlobalFormater.LocalDate.Chinese(article.get("publish_time") * 1000) %></div>
    <div class="left article-show-author">作者：<a href="#/articles/user/<%= article.get("user_id") %>"><%= article.get("author") %></a></div>
    <div class="right article-show-category">类别：<a href="#/articles/category/<%= article.get("category_id") %>"><%= article.get("category_name") %></a></div>
  </div>
  <% if (article.get("cover_picture_imported")) { %>
    <pre class="article-show-picture"><img src="<%= article.get("cover_picture_url").replace("/thumb/", "/medium/") %>" title="Cover Picture"></pre>
    <p>-----------------------------------------------------------------------</p>
  <% } %>
  <%= contentJsonToHtml(article.get("content")) %>
  
</div>
<div id="article-show-recommend"></div>


<% if (!preview) { %>
  <br><br>
  <div id="article_comments_container"></div>
<% } %>