
<div id="article-show-comment">

<% if ($.cookie("user_id")) { %>
  <div>
    <fieldset id="article-show-comment-field">
      <legend> Comments </legend>
      <form id="article-show-comment-submit">
        <textarea id="article-show-comment-draft" form="article-show-comment-submit" placeholder="Enter your comment here ..." rows="5" cols="50"required ></textarea>
        <input id="m-comment-save" type="button" value="Submit" />
        <input id="m-comment-cancel" type="button" value="Cancel" />
      </form>
    </fieldset>
  </div>
<% } %>


<div id="article-show-comments-list">
<% if (comments) { %>
  <table>
  <% _.each(comments, function(comment) { %>
    <tr class="article-show-comment-onepiece">
      <td valign="top">
          <a href="#/articles/user/<%= $.cookie("user_id") %>" >
            <img class="article-show-comment-author-icon-img" src="<%= comment.get("user_avatar_url") %>"  />
          </a>
      </td>
      <td>
        <div class="article-show-comment-reviewer-info">
            <a href="#/articles/user/<%= $.cookie("user_id") %>" >
              <strong><%= comment.get("user_nickname") %></strong><br />
            </a>
        </div>
        <div class="article-show-comment-content">
            <p><%= comment.get("content") %></p>
        </div>
      </td>
    </tr>
  <% }); %>
</table>
<% } %>
</div>
</div>
