<div class="article-cover" style="top: <%= top %>px; left: <%= left %>px; width: <%= width %>px; padding: <%= padding %>px;">
  <a class="block max-width text-align-center article-cover-img-link" href="#/article/<%= id %>">
    <img class="article-cover-img" style="height: <%= picHeight * 1.25 %>px; width: <%= picWidth %>px;" src="<%= picUrl %>">
  </a>
  <h3 style="word-break: break-all; word-wrap: break-word; padding: 16px 0;"><%= title %></h3>
  <% if (abstract.trim().length > 0) { %>
    <div><%= abstract %></div>
  <% } %>
  <div><strong>Like</strong> <%= like %></div>
</div>