<div class="article-cover" style="top: <%= top %>px; left: <%= left %>px; width: <%= width %>px;">

<a class="article-cover-img-link" href="#/article/<%= id %>" style="height: <%= picHeight %>px;">
  <img class="article-cover-img" src="<%= picUrl %>">
</a>

<div class="article-cover-content">
  <div class="max-fill-fixed-background article-cover-content-background"></div>
  
	<p class="article-cover-title">
    <a href="#/article/<%= id %>"><em><%= title %></em></a>
  </p>
    
  <% if (displayType === GlobalConstant.Article.CoverDisplayType.SEARCH_RESULT) { %>
    <% if (author.length > 0) { %>
      <div>Author: <a href="#/articles/user/<%= userId %>"><%= author %></a></div>
    <% } %>
    <% if (category.length > 0) { %>
      <div>Category: <a href="#/articles/category/<%= categoryId %>"><%= category %></a></div>
    <% } %>
  <% } %>
  
  <% if (abstract.trim().length > 0) { %>
  <hr class="article-cover-horizontal-line">
  <div><p class="article-cover-abstract"><%= abstract %> &#160; <a href="#/article/<%= id %>"><em>read more</em></a></p></div>
  <% } %>

  <div class="article-cover-icon-row">
    <img id="article-cover-like-icon" src="<%= PrecompiledAsset.Picture.LikeIcon %>">
    <span id="article-cover-like-count"><%= like %></span>
    <img id="article-cover-view-icon" src="<%= PrecompiledAsset.Picture.ViewIcon %>"> 
    <span id="article-cover-view-count"><%= views %></span>
  </div>
</div>

</div>