<% var isVerifiedUser = parseInt(user.get("status")) !== GlobalConstant.User.Status.UNVERIFIED %>

<div id="user-show-container">
  <div class="one-central-column-container">
    <div class="central-column">
      <div id="user-show-header" class="row">
        <div class="left"><img src="<%= user.get("avatar_url") %>" /></div>
        <div class="right"><div id="user-show-nickname">welcome, <strong><%= user.get("nickname") %></strong></div></div>
      </div>
      
    <% if (!isVerifiedUser) { %>
      <div class="row user-show-option-group">
        <p>You are almost there!</p>
        <p>An verification email should be sent to your shortly.</p>
        <p>Please follow the instruction in it to verify your account.</p>
        <p>Thanks!</p>
        <br>
        <br>
        <p>If you haven't received the email by chance, please click button below to get a new one.</p>
        <p><button id="m-resend-verify-email">Resend</button></p>
        <p id="m-resend-status"></p>
      </div>
    <% } %>
      
      <div class="row user-show-option-group">
        <div class="user-show-option">
          <a href="#/user/<%= user.get("id") %>/edit/profile">Edit My Profile</a>
        </div>
        <div class="user-show-option">
          <a href="#/user/<%= user.get("id") %>/edit/password">Edit My Password</a>
        </div>
      </div>
      
    <% if (isVerifiedUser) { %>
      <div class="row user-show-option-group">
        <div class="user-show-option">
          <a href="#/articles/user/<%= user.get("id") %>">All My Published Articles</a>
        </div>
        <div class="user-show-option">
          <a href="#/categories/user/<%= user.get("id") %>">All My Article Categories</a>
        </div>
      </div>
      
      <div class="row user-show-option-group">
        <div class="user-show-option">
          <a href="#/articles/draft/user/<%= user.get("id") %>">All My Drafts</a>
        </div>
        <div class="user-show-option">
          <a href="#/articles/new">Write a New Article</a>
        </div>
      </div>
    <% } %>
    </div>
  </div>
</div>
